.ints {
 
  align-items: center;
  background-color: var(--2ndbg-color); 
}

.cabecatexto{
  text-align: center;
}

.cabecatexto h2{
  font-size: var(--h2-font);
  margin-bottom: 10px;
}

.cabecatexto h4 {
  color: var(--mainbg-color);
  font-size: 24px;
  font-weight: 600;
}

 /*INTEGRANTES*/
 .scooby{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 10% 0;
  background-color: var(--1stbg-color);
 }

.cont-text{
  max-width: 500px;
  max-height: 100%;
  /*background-color: #fae4e8;*/
  /*fazer tipo um quadradinho*/
}

.cont-text h1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--1sttext-color-color);
}

.cont-text p {
  font-size: 16px;
  margin: 20px 0 40px;
  color: var(--1sttext-color-color);
}

.perfil-imagems{
  width: 600px;
  height: 600px;
 
}

.img-cont img{
  max-width: 500px;
  object-fit: cover;
}


  /*footer*/
  .footer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
  }
  .contato-esquerda .logo {
    margin-bottom: 2rem;
  
  }
  .contato-esquerda .logo i {
    color: var(--btn-color);
  }
  .contato-esquerda h4 {
    margin:15px 0;
    color: var(--2ndbg-color);
    font-size: 20px;
    font-weight: 600;
  }
  .contato-esquerda h2 {
    font-size: var(--h2-font);
    color: var(--1sttext-color);
  }
  .contato-esquerda p{
    color: #dadada;
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 2px;
  }
  .contato-esquerda {
    margin-bottom: 2rem;
    color: var(--1sttext-color);
    font-size: 16px;
    line-height: 30px;
  }
  
  .lista-contato{
    margin-bottom:3rem;
  }
  
  .lista-contato li {
    margin-bottom: 10px;
    display: block;
  }
  
  .lista-contato li a{
    display: block;
    color: var(--1sttext-color);
    font-size: 16px;
    font-weight: 600;
    transition: all .40s ease;
  }
  
  .lista-contato li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #c2bfbf ;
  }
  
  .redes-icon i{
    height: 40px;
    width: 40px;
    background-color: #303861 ;
    border-radius: 1rem;
    color: var(--btn-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 10px;
    transition: all .40s ease;
  }
  
  .redes-icon i:hover{
    transform: scale(1.01) translateY(-5px);
    color: #fae4e8;
  }
  
  .contatar form {
    position: relative ;
  }
  .contatar form input, form textarea{
    border: none;
    outline: none;
    width: 100%;
    padding: 18px;
    background-color: #303861;
    color: var(--1sttext-color);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
  }
  
  .contatar texarea{
    resize: none;
    height: 220px;
  }
  
  .contatar form .enviar {
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    background-color: var(--btn-color);
    color: var(--1stbg-color);
    transition: all .40s ease;
    cursor: pointer;
  }
  .contatar form .enviar:hover {
    background-color: #fae4e8;
  }
  
  /*final da pg*/
  .copyright p {
    text-align: center;
    padding: 15px;
    color: var(--2ndtext-color);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .comeco{
    position: fixed; /*vai ficar no mesmo lugar na tela mesmo quando mexe*/
    bottom: 2.1rem;
    right: 2.1rem;
  
  }
  
  .comeco i {
    color: var(--1sttext-color);
    background-color: var(--btn-color);
    box-shadow: 4px 3px 10px #0000003c;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
  }