/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Barlow", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

/*VARIAVEIS*/
:root {
  --navbar-color: #240c33;
  --mainbg-color: #38184C;
  --2ndmainbg-color: #693d85;
  --casosbox-color: #3d1357;
  --2ndbg-color: #1C646D; 
  --2ndbglight-color: #4ca1acc0;
  --1sttext-color: #fffffe;
  --2ndtext-color: #c2bfbf;
  --btn-color: #47949e;
  --2ndbtn-color: #6fb4bd;
  
  --h1-font: 5.2rem;
  --h2-font: 3.5rem;
  --p-font: 1.1rem;
}


/*fazer uma barra de scroll personalizada*/
html::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--bg-color);
}
html::-webkit-scrollbar-thumb {
  background: var(--btn-color);
  border-radius: 5rem;
}
body {
  background: var(--mainbg-color);
  color: var(--1sttext-color);
}

section{
  padding: 160px 16% 90px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  transition: 0.5s;
  background-color: var(--navbar-color);
}

li {
  list-style: none;
  }
  
.logo {
  font-size: 2rem;
  font-weight: 500;
  color: var(--1sttext-color);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.logos {
  width: 7rem;
}

.navbar {
  column-gap: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.navbar li {
  position: relative;
}

.navbar a {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--1sttext-color);
}

/* DROPDOWN MENU */
  .drop {
  background-color: var(--mainbg-color);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none; 
  border-radius: 8px;
  top: 35px;
  }
  
  .drop li + li {
  margin-top: 10px;
  }
  
  .drop li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
  }
  
  .drop li:hover {
  background-color: var(--2ndmainbg-color);
  }
  
  .drop:hover {
  display: block;
  position: absolute;
  }


.navbar a::after { /*pra fazer a barrinha em baixo*/
  content: "";
  width: 0;
  height: 2px;
  background: var(--btn-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.4s all linear;
}

.navbar a:hover::after,
.navbar .home-active::after { /*pro home fizer sempre selecionado*/
  width: 100%;
}
#menu-icon {
  font-size: 1.1rem;
  cursor: pointer;
  z-index: 1000001;
  display: none;
}


.btn {
  padding: 0.7rem 1.4rem;
  background: var(--btn-color);
  color: var(--1sttext-color);
  font-weight: 400;
  border-radius: 0.5rem;
  box-shadow: 4px 3px 10px #0000003c;
}

.btn:hover {
  background: var(--2ndbtn-color);
}






  
  /*footer*/
  .footer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
  }
  .contato-esquerda .logo {
    margin-bottom: 2rem;
  
  }
  .contato-esquerda .logo i {
    color: var(--btn-color);
  }
  .contato-esquerda h4 {
    margin:15px 0;
    color: var(--2ndbg-color);
    font-size: 20px;
    font-weight: 600;
  }
  .contato-esquerda h2 {
    font-size: var(--h2-font);
    color: var(--1sttext-color);
  }
  .contato-esquerda p{
    color: #dadada;
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 2px;
  }
  .contato-esquerda {
    margin-bottom: 2rem;
    color: var(--1sttext-color);
    font-size: 16px;
    line-height: 30px;
  }
  
  .lista-contato{
    margin-bottom:3rem;
  }
  
  .lista-contato li {
    margin-bottom: 10px;
    display: block;
  }
  
  .lista-contato li a{
    display: block;
    color: var(--1sttext-color);
    font-size: 16px;
    font-weight: 600;
    transition: all .40s ease;
  }
  
  .lista-contato li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #c2bfbf ;
  }
  
  .redes-icon i{
    height: 40px;
    width: 40px;
    background-color: #303861 ;
    border-radius: 1rem;
    color: var(--btn-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 10px;
    transition: all .40s ease;
  }
  
  .redes-icon i:hover{
    transform: scale(1.01) translateY(-5px);
    color:  var(--2ndbtn-color);
  }
  
  .contatar form {
    position: relative ;
  }
  .contatar form input, form textarea{
    border: none;
    outline: none;
    width: 100%;
    padding: 18px;
    background-color: #303861;
    color: var(--1sttext-color);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
  }
  
  .contatar texarea{
    resize: none;
    height: 220px;
  }
  
  .contatar form .enviar {
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    background-color: var(--btn-color);
    color: var(--1stbg-color);
    transition: all .40s ease;
    cursor: pointer;
  }
  .contatar form .enviar:hover {
    background-color:  var(--2ndbtn-color);
  }
  
  /*final da pg*/
  .copyright p {
    text-align: center;
    padding: 15px;
    color: var(--2ndtext-color);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .comeco{
    position: fixed; /*vai ficar no mesmo lugar na tela mesmo quando mexe*/
    bottom: 2.1rem;
    right: 2.1rem;
  
  }
  
  .comeco i {
    color: var(--1sttext-color);
    background-color: var(--btn-color);
    box-shadow: 4px 3px 10px #0000003c;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
  }



