/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Barlow", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

/*VARIAVEIS*/
:root {
  --mainbg-color: #232946;
  --2ndmainbg-color: #303861;
  --2ndbg-color: #b8c1ec;  
  --1sttext-color: #fffffe;
  --2ndtext-color: #c2bfbf;
  --btn-color: #eebbc3;
  --2ndbtn-color: #fae4e8;
  
  --h1-font: 5.2rem;
  --h2-font: 3.5rem;
  --p-font: 1.1rem;
}
/*fazer uma barra de scroll personalizada*/
html::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--bg-color);
}
html::-webkit-scrollbar-thumb {
  background: var(--btn-color);
  border-radius: 5rem;
}
body {
  background: var(--mainbg-color);
  color: var(--1sttext-color);
}

section{
  padding: 160px 16% 90px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  transition: 0.5s;
}

.logo {
  font-size: 2rem;
  font-weight: 500;
  color: var(--1sttext-color);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.logos {
  width: 1.1rem;
}

.navbar {
  display: flex;
  column-gap: 5rem;
}

.navbar li {
  position: relative;
}

.navbar a {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--1sttext-color);
}

.navbar a::after { /*pra fazer a barrinha em baixo*/
  content: "";
  width: 0;
  height: 2px;
  background: var(--btn-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.4s all linear;
}

.navbar a:hover::after,
.navbar .home-active::after { /*pro home fizer sempre selecionado*/
  width: 100%;
}
#menu-icon {
  font-size: 1.1rem;
  cursor: pointer;
  z-index: 1000001;
  display: none;
}
.btn {
  padding: 0.7rem 1.4rem;
  background: var(--btn-color);
  color: var(--1sttext-color);
  font-weight: 400;
  border-radius: 0.5rem;
  box-shadow: 4px 3px 10px #0000003c;
}

.btn:hover {
  background: #fec7d7;
}


 /*PERFIL*/
.perfil{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 10% 0;
    background-color: var(--1stbg-color); /*pra essa secao ficar dessa cor*/
}

.perfil-container{
    max-width: 500px; /*fazer tipo um quadradinho*/
}

.perfil-container h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.perfil-container h3 {
    font-size: 32px;
    font-weight: 700;
    color: var(--2ndbg-color);
}

.perfil-container p {
    font-size: 16px;
    margin: 20px 0 40px;
    color: var(--2ndbg-color);
}

.perfil-imagem{
    width: 600px;
    height: 600px;
   
}

.imagem img{
    max-width: 500px;
    object-fit: cover;
}


/*EXPERIENCIAS*/

.experiencias {
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: var(--2ndbg-color); 
}

.cabecatexto{
    text-align: center;
}

.cabecatexto h2{
    font-size: var(--h2-font);
    margin-bottom: 10px;
}

.cabecatexto h4 {
    color: var(--mainbg-color);
    font-size: 24px;
    font-weight: 600;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 5rem; 
}

.box{
    padding: 45px;
    background-color: var(--1sttext-color);
    border-top: 5px solid transparent;
    transition: all .40s ease;
    border-radius: 0.5rem;
    cursor: pointer;
}
.box .bx{
  color: #fae4e8;
  font-size: 60px;

}
.box h3{
  color: var(--mainbg-color);
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0;
    transition: all .40s ease;
}

.box p{
    color: var(--mainbg-color);  
    font-size: var(--p-font);
    line-height: 30px;
}

.box:hover{                                   /*aparecer a borda quando bota o mouse em cima*/
    transform: scale(1.01) translateY(-5px);
    border-top: 5px solid var(--btn-color);
}

.box:hover h3{
  color: var(--btn-color);
}
.projetos {
  background-color: var(--btn-color);  /*cor dessa secao pode ser tbm1stbg*/
  width: 100%;
   
}
.projetos-container {       /*copiado de .boxes*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  align-items: center;
  gap: 2rem;
  margin-top: 5rem; 
}

.linha img{
  height:auto;
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}
.linha{
  padding: 25px;
  border-radius: 0.5rem;
  background-color: #f2d0d5;
  transition: all .40s ease;
}

.linha-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.linha h3{
  font-size: 24px;
  font-weight: 700;
}

.linha h6{
  color: var(--mainbg-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.linha-icon i{
  font-size: 21px;
}

.linha:hover {
  transform: scale(1.01) translateY(-5px);
  cursor: pointer;
}
/*algomais*/
.algomais {
  width: 100%;
    height: 100vh;  
    align-items: center;
    background-color: var(--2ndbg-color); 
}

/*footer*/
.footer {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 3rem;
}
.contato-esquerda .logo {
  margin-bottom: 2rem;

}
.contato-esquerda .logo i {
  color: var(--btn-color);
}
.contato-esquerda h4 {
  margin:15px 0;
  color: var(--2ndbg-color);
  font-size: 20px;
  font-weight: 600;
}
.contato-esquerda h2 {
  font-size: var(--h2-font);
  color: var(--1sttext-color);
}
.contato-esquerda p{
  color: #dadada;
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 2px;
}
.contato-esquerda {
  margin-bottom: 2rem;
  color: var(--1sttext-color);
  font-size: 16px;
  line-height: 30px;
}

.lista-contato{
  margin-bottom:3rem;
}

.lista-contato li {
  margin-bottom: 10px;
  display: block;
}

.lista-contato li a{
  display: block;
  color: var(--1sttext-color);
  font-size: 16px;
  font-weight: 600;
  transition: all .40s ease;
}

.lista-contato li a:hover{
  transform: scale(1.01) translateY(-5px);
  color: #c2bfbf ;
}

.redes-icon i{
  height: 40px;
  width: 40px;
  background-color: #303861 ;
  border-radius: 1rem;
  color: var(--btn-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-right: 10px;
  transition: all .40s ease;
}

.redes-icon i:hover{
  transform: scale(1.01) translateY(-5px);
  color: #fae4e8;
}

.contatar form {
  position: relative ;
}
.contatar form input, form textarea{
  border: none;
  outline: none;
  width: 100%;
  padding: 18px;
  background-color: #303861;
  color: var(--1sttext-color);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}

.contatar texarea{
  resize: none;
  height: 220px;
}

.contatar form .enviar {
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  background-color: var(--btn-color);
  color: var(--1stbg-color);
  transition: all .40s ease;
  cursor: pointer;
}
.contatar form .enviar:hover {
  background-color: #fae4e8;
}

/*final da pg*/
.copyright p {
  text-align: center;
  padding: 15px;
  color: var(--2ndtext-color);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}

.comeco{
  position: fixed; /*vai ficar no mesmo lugar na tela mesmo quando mexe*/
  bottom: 2.1rem;
  right: 2.1rem;

}

.comeco i {
  color: var(--1sttext-color);
  background-color: var(--btn-color);
  box-shadow: 4px 3px 10px #0000003c;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}



